<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="logo">logo</div>
            </div>
            <div class="col-10">
                <nav>
                    <ul>
                        <li class="nav-link">home</li>
                        <li class="nav-link">search</li>
                        <li class="nav-link">favorites</li>
                        <li class="nav-link logout">log out</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>