header{
    padding: 10px;
}

nav.navbar {
    background-color: #3f51b5 !important;
}

#navbarNavDropdown{
    justify-content: end;
    ul {
        li {
            margin-left: 20px;
            a{
                color: #fff;
                &:hover{
                    border-bottom: 1px solid yellow;
                }
            }
        }
    }
}

.active {
    color: yellow !important;
    border-bottom: 1px solid yellow;
}