<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div 
                class="logo"
                routerLink="home">logo</div>
            </div>
            <div class="col-10">
                <nav>
                    <ul>
                        <li class="nav-link" routerLink="home">home</li>
                        <li class="nav-link" routerLink="search">search</li>
                        <li class="nav-link" routerLink="favorites">favorites</li>
                        <li class="nav-link" routerLink="logout">log out</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>