
<div class="container">
  <div class="row">

    <div class="col-4">
      <h4>pokemon list</h4>
      <ul>
        <li 
        *ngFor=" let pokemon of pokemonList(); let i = index "
        (click)="getPokemon(pokemon.url)">
          <a class="list-item">{{pokemon.name}}</a>
          <span> ID: {{ i + 1 }} </span>
        </li>
      </ul>
    </div>

    <div class="col-6 offset-2">
      <h4>pokemon detail</h4>

      <app-pokemon-item 
      [pokemon]="pokemon"></app-pokemon-item>

    </div>



  </div>
</div>