<!-- 
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="text-center">Create your pokemon</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-4 mt-5">
            <form class="example-form">

                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
              
                <div formArrayName="images">
                    <ng-container *ngFor="let image of images.controls; let i = index">
                        <mat-form-field class="example-full-width">
                            <mat-label>images</mat-label>
                            <input 
                            matInput 
                            placeholder="Ex. Pizza" 
                            value="Sushi"
                            [formControlName]="i">
                        </mat-form-field>
                    </ng-container>
                </div>

                <button 
                mat-raised-button 
                color="primary">add image</button>


              </form>
        </div>
    </div>
</div>
 -->


<!-- profile-editor.component.html -->
<form [formGroup]="pokemonForm" (ngSubmit)="onSubmit()">
    <label>
      Name:
      <input type="text" formControlName="firstName">
    </label>
    <!-- FormArray for images -->
    <div formArrayName="abilities">
      <h3>Abilities</h3>
      <button type="button" (click)="addBook()">Add abilities</button>
      <div *ngFor="let ability of abilities.controls; let i=index">
        <label>
          ability {{ i + 1 }}:
          <input type="text" [formControlName]="i">
        </label>
      </div>
    </div>

    <!-- FormArray for favorite books -->
    <div formArrayName="images">
      <h3>Images</h3>
      <button type="button" (click)="addImage()">Add image</button>
      <div *ngFor="let image of images.controls; let i=index">
        <label>
          image {{ i + 1 }}:
          <input type="text" [formControlName]="i">
        </label>
      </div>
    </div>
  
    <!-- Submit Button -->
    <button type="submit">Submit</button>
  </form>
