
form {
    mat-form-field {
        width: 100%;
    }

    .top-container{
        margin-bottom: 5px;
    }

}

section {
    margin: 20px 0;
}

.control-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    mat-form-field{
        width: 75%;
    }
}