
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center my-5">
                Create your pokemon
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">

            <!-- pokemon form -->
            <form [formGroup]="pokemonForm" (ngSubmit)="onSubmit()">

                <!--  name -->
                <section>   
                    <h3>Name</h3>
                    <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input 
                        matInput 
                        placeholder="Ex. pikachu" 
                        formControlName="name">
                    </mat-form-field>
                </section>

                <!--  images -->
                <section>
                    <div formArrayName="images">
                        <div class="top-container d-flex justify-content-between">
                            <h3>Images</h3>
                            <button 
                            mat-raised-button
                            type="button"
                            (click)="addImage()">+ add image</button>
                        </div>
                      
                        <div *ngFor="let image of images.controls; let i=index">
                            <div class="control-wrapper">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Image path</mat-label>
                                    <input 
                                    matInput 
                                    placeholder="Ex. http://" 
                                    [formControlName]="i">
                                </mat-form-field>
                                <button 
                                mat-raised-button
                                color="warn"
                                type="button"
                                (click)="onDelete(i)">delete</button>
                            </div>
                        </div>
                    </div>
                </section>

                <!--  abilities -->
                <section>
                    <div formArrayName="abilities">
                        <div class="top-container d-flex justify-content-between">
                            <h3>Abilities</h3>
                            <button 
                            mat-raised-button
                            type="button"
                            (click)="addAbility()">+ add ability</button>
                        </div>
                        <div *ngFor="let ability of abilities.controls; let i=index">
                            <div class="control-wrapper">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Ability</mat-label>
                                    <input 
                                    matInput 
                                    placeholder="Ex. fly" 
                                    [formControlName]="i">
                                </mat-form-field>
                                <button 
                                mat-raised-button
                                type="button"
                                color="warn"
                                (click)="onDelete(i)">delete</button>
                            </div>
                        </div>
                    </div>
                </section>

            
            
                <!-- Submit Button -->
                <button 
                mat-flat-button 
                color="primary"
                type="submit">CREA</button>
            </form>

        </div>
    </div>
</div>



