
<div class="container">
    <div class="row">
        <div class="col-8 offset-2 text-center mt-4">
            <h1>Search Pokemon</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <ng-select 
            [items]="pokemonList()" 
            bindLabel="name" 
            bindValue="id" 
            [(ngModel)]="selectedPokemonId"
            (change)="onSelectedPokemon(selectedPokemonId)">
            </ng-select>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
                @if(selectedPokemon){
                    <app-pokemon-item [pokemon]="selectedPokemon"></app-pokemon-item>
                }
                @else(){
                    <div class="card text-center p-5">#### placeholder ####</div>
                }
            
        </div>
    </div>

</div>

